/* RESET VARIABLES GLOBALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-main: #1f2937;
  --color-text: #374151;
  --color-text-light: #f9fafb;
  --font-main: "Jersey 10", sans-serif;
  --font-title: "Tiny5", serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg-main);
  min-height: 100dvh;
  overflow-x: hidden;
}

// ==========================
//         ANIMATIONS
// ==========================

@keyframes dots {
  0% { opacity: 0; }
  33% { opacity: 0.3; }
  66% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInBackground {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

@keyframes bubblePop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}